* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", sans-serif;
}

.body-header {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.body-main {
  display: flex;
  flex-direction: column;
  gap: 4.5em;
}
.body-main-groupchat {
  display: flex;
  gap: 1em 0px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.body-main-groupchat-text {
  width: 100%;
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-direction: column;
  padding: 1em;
  text-align: center;
}
.body-main-groupchat-text-title {
  color: rgb(40, 40, 62);
  font-size: clamp(2.5rem, 2.14rem + 1.79vw, 4.38rem);
}
.body-main-groupchat-text-desc {
  color: rgb(134, 134, 156);
  font-size: clamp(1.01rem, 0.92rem + 0.41vw, 1.43rem);
}
.body-main-groupchat-text-button {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  flex-direction: column;
}
.body-main-groupchat-text-button-down {
  color: white;
  background-color: rgb(78, 149, 168);
  border: none;
  padding: 1.2em 1.9em;
  border-radius: 28px;
  font-size: clamp(1.01rem, 0.92rem + 0.41vw, 1.43rem);
}
.body-main-groupchat-text-button-down span {
  color: rgb(143, 228, 249);
}
.body-main-groupchat-text-button-what {
  color: white;
  background-color: rgb(133, 94, 176);
  border: none;
  padding: 1.2em 1.9em;
  border-radius: 28px;
  font-size: clamp(1.01rem, 0.92rem + 0.41vw, 1.43rem);
}
.body-main-groupchat-avatars {
  width: 49%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em 1.2em;
}
.body-main-groupchat-avatars-left {
  justify-self: center;
  width: 100%;
}
.body-main-groupchat-avatars-left1 {
  transform: translateY(1.5em);
}
.body-main-groupchat-avatars-left5 {
  transform: translateY(-1.5em);
}
.body-main-groupchat-avatars-left3 {
  transform: translateY(1.5em);
}
.body-main-groupchat-avatars-right {
  justify-self: center;
  width: 100%;
}
.body-main-groupchat-avatars-right4 {
  transform: translateY(-1.5em);
}
.body-main-groupchat-avatars-right2 {
  transform: translateY(1.5em);
}
.body-main-groupchat-avatars-right6 {
  transform: translateY(-1.5em);
}
.body-main-details {
  padding: 1em;
}
.body-main-details-img {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1em;
}
.body-main-details-img-card {
  width: 100%;
  border-radius: 10%;
}

@media screen and (min-width: 760px) {
  .body-main-groupchat-avatars {
    gap: 4em 2.5em;
  }
  .body-main-groupchat-avatars-left {
    justify-self: center;
    width: 100%;
  }
  .body-main-groupchat-avatars-left1 {
    transform: translateY(2em);
  }
  .body-main-groupchat-avatars-left5 {
    transform: translateY(-2em);
  }
  .body-main-groupchat-avatars-left3 {
    transform: translateY(2em);
  }
  .body-main-groupchat-avatars-right {
    justify-self: center;
    width: 100%;
  }
  .body-main-groupchat-avatars-right1 {
    transform: translateY(2em);
  }
  .body-main-groupchat-avatars-right5 {
    transform: translateY(-2em);
  }
  .body-main-groupchat-avatars-right3 {
    transform: translateY(2em);
  }
  .body-main-details-img {
    grid-template-columns: repeat(4, auto);
  }
}
@media screen and (min-width: 1040px) {
  .body-main-groupchat {
    gap: 0em;
  }
  .body-main-groupchat-avatars {
    align-self: flex-start;
    width: 33%;
    gap: 5.5em 1.5em;
  }
  .body-main-groupchat-avatars-leftwrap {
    order: 1;
  }
  .body-main-groupchat-avatars-rightwrap {
    order: 3;
  }
  .body-main-groupchat-text {
    flex-grow: 1;
    width: 30%;
    order: 2;
  }
  .body-main-details {
    padding: 5em;
  }
}

/*# sourceMappingURL=main.css.map */
