@use "variables.scss" as var;

@mixin flex-center($gap: 0) {
    display: flex;
    gap: $gap;
    justify-content: center;
    align-items: center;
}
@mixin flex-col-center($gap: 0) {
    @include flex-center;
    gap: $gap;
    flex-direction: column;
}
@mixin flex-col($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}
@mixin flex-btw($gap: 0) {
    display: flex;
    gap: $gap;
    align-items: center;
    justify-content: space-between;
}


@mixin min-width($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}
@mixin text-style($color, $font-size) {
    color: $color;
    font-size: $font-size;
}
@mixin button-style($background-color, $vertical-padding: 1.2em, $hori-padding:1.9em) {
    color: white;
    background-color: $background-color;
    border: none;
    padding: $vertical-padding $hori-padding;
    border-radius: 28px;
    font-size: var.$step--5;
}
@mixin avatar-alignment($transform-height, $side) {
    justify-self: center;
    width: 100%;
    @if $side == "left" {
        @for $current-index from 1 to 4 {
            &#{$current-index} {
                @if not ($current-index % 2 == 0) {
                    transform: translateY($transform-height);
                    // align-self: flex-end;
                }
            }
            &#{$current-index + 3} {
                @if not (($current-index + 3) % 2 == 0) {
                    transform: translateY(calc(-1 * $transform-height));
                    // align-self: flex-start;
                }
            }
        }
    }
    @else {
        @for $current-index from 1 to 4 {
            &#{$current-index} {
                @if $current-index % 2 == 0 {
                    transform: translateY($transform-height);
                    // align-self: flex-end;
                }
            }
            &#{$current-index + 3} {
                @if (($current-index + 3) % 2 == 0) {
                    transform: translateY(calc(-1 * $transform-height));
                    // align-self: flex-start;
                }
            }
        }
    }
}