@use "mixin.scss" as mi;
@use "variables.scss" as var;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Red Hat Display', sans-serif;
}
.body {
    &-header {
        @include mi.flex-center;
        padding: var.$padding;
    }
    &-main {
        &-groupchat {
            @include mi.flex-btw;
            flex-wrap: wrap;
            gap: 1em 0px;
            &-text {
                width: 100%;
                @include mi.flex-col-center;
                padding: var.$padding;
                gap: 1em;
                text-align: center;
                &-title {
                    @include mi.text-style(var.$title-color, var.$step-0);
                }
                &-desc {
                    @include mi.text-style(var.$desc-color, var.$step--5);
                }
                &-button {
                    @include mi.flex-col-center;
                    gap: 0.6em;

                    &-down {
                        @include mi.button-style(var.$green);
                        & span {
                            color: rgb(143,228,249);
                        }
                    }
                    &-what {
                        @include mi.button-style(var.$purple);
                    }
                }
            }
            &-avatars {
                // height: 30em;
                width: 49%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                $gap-row: 2em;
                gap: $gap-row 1.2em;
                &-left {
                    justify-self: center;
                    width: 100%;
                    @for $var from 1 to 4 {
                        // @include mi.avatar-alignment(($gap-row - 2em), "left", $var);
                        @include mi.avatar-alignment(($gap-row - 0.5em), "left", $var);
                    }
                }
                &-right {
                    justify-self: center;
                    width: 100%;
                    @for $var from 1 to 4 {
                        // @include mi.avatar-alignment(($gap-row - 2em), "right", $var);
                        @include mi.avatar-alignment(($gap-row - 0.5em), "right", $var);
                    }
                }
                
            }
        }
    }

}
@include mi.min-width(760px) {
    .body {
        &-main {
            &-groupchat {
                &-avatars {
                    // $gap-row: 8em;
                    $gap-row: 4em;
                    gap: $gap-row 2.5em;
                    &-left {
                        @for $var from 1 to 4 {
                            @include mi.avatar-alignment(($gap-row - 2em), "left", $var);
                        }
                    }
                    &-right {
                        @for $var from 1 to 4 {
                            @include mi.avatar-alignment(($gap-row - 2em), "right", $var);
                        }
                    }
                }
            }
        }
    }

}
@include mi.min-width(1040px) {
    .body {
        &-main {
            &-groupchat {
                gap: 0em;
                &-text {
                    flex-grow: 1;
                }
                &-avatars {
                    align-self: flex-start;
                    width: 33%;
                    $gap-row: 5.5em;
                    gap: $gap-row 1.5em;
                    &-leftwrap {
                        order: 1;
                    }
                    &-rightwrap {
                        order: 3;
                    }
                    &-left {
                        @for $var from 1 to 4 {
                            @include mi.avatar-alignment(($gap-row - 2em), "left", $var);
                        }
                    }
                    &-right {
                        @for $var from 1 to 4 {
                            @include mi.avatar-alignment(($gap-row - 2em), "right", $var);
                        }
                    }
                }
                &-text {
                    width: 30%;
                    order: 2;
                }
            }
        }
    }
}