@use "mixin.scss" as mi;
@use "variables.scss" as var;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Red Hat Display', sans-serif;
}
.body {
    &-header {
        @include mi.flex-center;
        padding: var.$padding;
    }
    &-main {
        @include mi.flex-col(6em);
        margin-bottom: 7em;
        &-groupchat {
            @include mi.flex-center(1em 0px);
            flex-wrap: wrap;
            &-text {
                width: 100%;
                @include mi.flex-col-center(1em);
                padding: var.$padding;
                text-align: center;
                &-title {
                    @include mi.text-style(var.$title-color, var.$step-0);
                }
                &-desc {
                    @include mi.text-style(var.$desc-color, var.$step--5);
                }
                &-button {
                    @include mi.flex-col-center(0.6em);

                    &-down {
                        @include mi.button-style(var.$green);
                        & span {
                            color: rgb(143,228,249);
                        }
                    }
                    &-what {
                        @include mi.button-style(var.$purple);
                    }
                }
            }
            &-avatars {
                // height: 30em;
                width: 49%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                $gap-row: 2em;
                gap: $gap-row 1.2em;
                &-left {
                    @include mi.avatar-alignment(($gap-row - 0.5em), "left");
                }
                &-right {
                    @include mi.avatar-alignment(($gap-row - 0.5em), "right");
                }
                
            }
        }
        &-details {
            padding: var.$padding;
            @include mi.flex-col-center(3em);
            &-img {
                width: 100%;
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                gap: 1em;
                &-card {
                    width: 100%;
                    border-radius: 10%;
                }
            }
            &-text {
                @include mi.flex-col-center(0.8em);
                text-align: center;
                &-subtitle {
                    text-transform: uppercase;
                    @include mi.text-style(var.$green, var.$step--4);
                }
                &-title {
                    @include mi.text-style(var.$title-color, var.$step--2);
                }
                &-desc {
                    @include mi.text-style(var.$desc-color, var.$step--5);
                }
            }
        }
    }

}
@include mi.min-width(760px) {
    .body {
        &-main {
            gap: 8em;
            &-groupchat {
                &-avatars {
                    // $gap-row: 8em;
                    $gap-row: 4em;
                    gap: $gap-row 2.5em;
                    &-left {
                        @include mi.avatar-alignment(($gap-row - 2em), "left");
                    }
                    &-right {
                        @include mi.avatar-alignment(($gap-row - 2em), "right");
                    }
                }
                &-text {
                    width: 65%;
                }
            }
            &-details {
                gap: 6em;
                &-img {
                    grid-template-columns: repeat(4, auto);
                }
                &-text {
                    width: 65%;
                    gap: 0.5em;
                }
            }
        }
    }

}
@include mi.min-width(1100px) {
    .body {
        &-main {
            gap: 17em;
            &-groupchat {
                gap: 0em;
                &-avatars {
                    align-self: flex-start;
                    width: 33%;
                    $gap-row: 5.5em;
                    gap: $gap-row 1.5em;
                    &-leftwrap {
                        order: 1;
                    }
                    &-rightwrap {
                        order: 3;
                    }
                    &-left {
                        @include mi.avatar-alignment(($gap-row - 2em), "left");
                    }
                    &-right {
                        @include mi.avatar-alignment(($gap-row - 2em), "right");
                    }
                }
                &-text {
                    flex-grow: 1;
                    width: 30%;
                    order: 2;
                }
            }
            &-details {
                gap: 8em;
                padding-left: 5em;
                padding-right: 5em;
                &-text {
                    gap: 1em;
                    width: 35%;
                }
            }
        }
    }
}